.flickr-photo-img {
  vertical-align: text-bottom;
}

.flickr-photo-box {
  padding: 10px;
  float: left;
  text-align: center;
  width: 260px;
  height: 260px;
}

.flickr-photoset-img {
  vertical-align: text-bottom;
}

.flickr-photoset-box {
  padding: 10px;
  float: left;
  text-align: center;
}

span.flickr-wrap, span.flickr-photoset-single {
  display: inline-block;
  vertical-align: top;
  margin: 0 5px 5px 0;
}

span.flickr-credit {
  display: block;
  line-height: 100%;
  font-size: 80%;
}

.flickr-slideshow {
  height: 0;
  width: 100%;
  /*Change percentage below to change ratio. Currently 16:9 (as most screens).*/
  padding-bottom: 56.25%;
  overflow: hidden;
  position: relative;
}

.flickr-slideshow object {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.flickr-block-photosets .flickr-block-photoset {
  margin-top: 0.5em;
  padding-top: 0.5em;
  border-top: 1px solid #dfdfdf;
}

span.floatleft {
  float: left; /* LTR */
  margin: 5px 5px 0 0; /* LTR */
}
span.floatright {
  float: right; /* LTR */
  margin: 5px 0 0 10px; /* LTR */
}

span.flickr-tags {
  font-style: italic;
}

.flickr-wrap, .flickr-wrap img, .flickr-wrap .flickr-credit {
  max-width: 100%;
}

div.flickr-photoset {
  clear: both;
}

span.flickr-empty {
  margin: 10px;
  display: inline-block;
}

.page-flickr-sets h1#page-title {
  display: none;
}

.tips span.ctools-toggle {
  float: none !important;
}
