.flickr-photo-img {
  vertical-align: text-bottom;
}

.flickr-photo-box {
  padding: 10px;
  float: left;
  text-align: center;
  width: 260px;
  height: 260px;
}

.flickr-photoset-img {
  vertical-align: text-bottom;
}

.flickr-photoset-box {
  padding: 10px;
  float: left;
  text-align: center;
  width: 130px;
  height: 130px;
}

span.flickr-wrap {
  display: inline-block;
  vertical-align: top;
  margin: 0 5px 5px 0;
}

span.flickr-credit {
  display: block;
  line-height: 100%;
  font-size: 80%;
}

@media screen {
  @font-face {
    font-family: 'CC-ICONS';
    font-style: normal;
    font-weight: normal;
    src: url('cc-icons.ttf') format('truetype');
  }
  span.flickr-cc {
    /*Creative commons icon font*/
    font-family: 'CC-ICONS';
    /*The normal size is not well recognizable*/
    font-size: large;
    float: right;
    /*An equivalent to baseline shift to space icons from the line above*/
    position: relative;
    top: .20em;
    margin-bottom: 5px;
  }
}
