.flickr-wrap .flickr-photo-img:hover,
img.flickr-photoset-img:hover
{
    position: relative;
    top: 2em;

    -webkit-transform: scale(1.8);
       -moz-transform: scale(1.8);
        -ms-transform: scale(1.8);
         -o-transform: scale(1.8);
            transform: scale(1.8);
}

.flickr-photo-img,
img.flickr-photoset-img
{
    overflow: hidden;

    -webkit-transition: all .2s ease;
       -moz-transition: all .2s ease;
        -ms-transition: all .2s ease;
         -o-transition: all .2s ease;
            transition: all .2s ease;

    -o-object-fit: cover;
       object-fit: cover;
}
